@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(205, 205, 205, 0.87);
  background-color: #242424;

}

@layer components
{
  .nav-style
  {
    transform: translateX(-100vw) translateY(54%);
    position: fixed;
    height: 100%;
    width: 90%;
    background: rebeccapurple;  
    transition: all ease-in-out 0.5s;
  }
  .nav-style-open
  {
    transform: translateX(-2vw) translateY(54%);
  }
  @layer components {
    .hamburger div:first-child {
        @apply rotate-45 translate-y-1.5;
    }

    .hamburger div:last-child {
        @apply -rotate-45 -translate-y-1;
    }

    .clip-path-cards {

        clip-path: polygon(0 0, 100% 0, 100% 66%, 76% 88%, 23% 88%, 0 65%);

    }}
}